body { 
  background-color: #fcf8ec;
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Averia Serif Libre", sans-serif;
}

p {
  margin: 0 0 0 0;
}

hr {
  margin: 20px 0 20px 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin: 5vh 10% 10vh 10%;
}

.header-other {
  font-size: 20px;
}

.header-home {
  font-size: 35px;
}

.site-content {
  margin: 0 10% 15vh 10%;
}

.post-content {
  margin: 0 10% 0 10%;
  line-height: 2;
}

.site-title {
  font-size: 6em;
  margin: 0 0 15vh 0;
}

.site-intro {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 2em;
  text-align: right;
  margin: 0 0 15vh 0;
}

.site-intro p {
  width: 75%;
}

.site-post-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.5em;
}

.site-post-year {
  display: flex;
  width: 40%;
  margin: 0 0 30px 0;
}

.site-post-links {
  width: 60%;
  display: flex;
  flex-direction: column;
}

@media (max-width:700px){
  .post-year {
    width: 100%;
  }
  .site-allposts {
    width: 100%;
  }

  .site-intro p {
  width: 100%;
}
}

.site-post-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.site-post-link a {
  margin: 0 20px 0 0;
  transition: opacity 0.1s;
  text-decoration: underline;
}

.site-post-link a:hover {
  opacity: 0.5;
}

.post-info {
  text-align: center;
}

.post-intro {
  font-size: 40px;
}

.post-body {
  font-size: 20px;
}

.post-marginalia {
  text-align: justify;
  text-justify: inter-character;
  float:left;
  color: blue;
  width: 50%;
  margin: 0.5em 1em 0.5em -5%;
}

.about-info {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  margin-top: auto;
  margin: 0 10% 0 10%;
}

.footer hr {
  margin: 0 0 0 0;
}


