---
layout: default
---

<!Doctype html>
<html>
  <head>
  </head>
  <body>
    <div class="post-content">
      <b> {{ page.title }} </b>
      <br>
      <i> {{ page.sub-title }} </i>

      <hr>

      <div class="post-body">
	{{ content }}
      </div>

      <hr>

      <div class="post-nav">
	<div class="nav-prev">
	  {% if page.previous.url %}
	    <a href={{ page.previous.url }}>
	      < <i> {{ page.previous.title }} </i>
	    </a>
	  {% endif %}
	</div>
	<div class="nav-next">
	  {% if page.next.url %}
	    <a href={{ page.next.url }}>
	      <i> {{ page.next.title }} </i> >
	    </a>
	  {% endif %}
	</div>
      </div>
    </div>
  </body>
</html>
